body{
  background-image: url("../img/sfondo5.jpeg");
  background-repeat: no-repeat;
  background-size:cover ;
  color: red;
}
header
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: red;
  background-color: black;
  border-bottom: 5px solid rgb(142, 22, 6);
}
header .logo
{
  margin: 10px;
}
.btnsearch
{
  color:black;
  background-color: red;
}
.tongue
{
  width: 30px;
  height: auto;
}
.searchbar
{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.contentfilm
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.contentserie
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
  overflow-y: scroll;
}
.entry
{
  width: 100%;
  height:100% ;
}
.locandina
{
  width: 100%;
  height: 100%;
}
.item
{
  position: relative;
  overflow: hidden;
  margin: 20px;
  width: 320px;
  min-width: 280px;
  height: 310px;
  min-height: 290px;
  border: 2px solid red;
  border-radius: 5%;
}

.entry .infobox
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #111;
color:#fff;
opacity: 0.9;
transition: 1.5s ease-in-out;
transform: translateY(100%);
padding: 10px;
}

.item:hover .entry .infobox
{
transform: translateY(0);
}
.film
{
  text-align: center;
}
.film h2
{
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}
.serietv
{
  text-align: center;
}
.serietv h2
{
  display: inline-block;
  padding-left: 60px;
  padding-right: 60px;
  padding-top:20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  border-radius: 8px;
}
