
.tongue
{
  width: 30px;
  height: auto;
}
.searchbar
{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.contentfilm
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 45vh;
  overflow-y: scroll;
  margin-bottom: 20px;
}
.contentserie
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 45vh;
  overflow-y: scroll;
}
.entry
{
  width: 100%;
  height:100% ;
}
.locandina
{
  width: 100%;
  height: 100%;
}
.item
{
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 280px;
  height: 250px;
  border: 2px solid black;
}

.entry .infobox
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: #111;
color:#fff;
transition: 1.5s ease-in-out;
transform: translateY(100%);
padding: 10px;
}

.item:hover .entry .infobox
{
transform: translateY(0);
}
